{% set main_tab = 'managealerts' %}
{% extends "layout.html" %}
{% block body %}
    <h2> Les alertes gérées par le système</h2>
    <table>
        <tr>
            <td>
                &nbsp;<strong>Email concerné</strong>&nbsp;
            </td>
            <td>
                &nbsp;<strong>Capteur surveillé</strong>&nbsp;
            </td>
        </tr>
        {% for a in alerts %}
        <tr>
            <td>
                &nbsp;{{ a.email }}&nbsp;
            </td>
            <td>
                &nbsp;{{ a.name }}&nbsp;
            </td>
            <td>
                &nbsp;<a href="/">Modifier</a>&nbsp;
            </td>
            <td>
                &nbsp;<a href="{{ url_for('remove_alert', id=a.id) }}">Supprimer</a>&nbsp;
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td>
                &nbsp;<a href="{{ url_for('add_alert') }}">Ajouter une alerte</a>&nbsp;
            </td>
        </tr>
    </table>
{% endblock %}
